alembic==1.4.3
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
blinker==1.4
Bootstrap-Flask==1.5.1
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.3.1
cycler==0.10.0
Cython==0.29.21
dash==1.18.1
dash-core-components==1.14.1
dash-defer-js-import==0.0.2
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
distlib==0.3.1
dlx==1.0.4
dnspython==2.0.0
docplex==2.19.202
dominate==2.6.0
email-validator==1.1.1
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.14.5
filelock==3.0.12
Flask==1.1.2
flask-appconfig==0.11.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.8.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
h5py==3.1.0
IBMQuantumExperience==2.0.4
idna==2.10
inflection==0.5.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.6.0
mpmath==1.1.0
multitasking==0.0.9
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
notebook==6.1.5
ntlm-auth==1.5.0
numpy==1.19.4
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
phonenumbers==8.12.12
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.14.1
ply==3.11
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil==5.7.3
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pybind11==2.6.1
pycparser==2.20
pydot==1.4.1
Pygments==2.7.3
pylatexenc==2.8
pylint==2.6.0
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
pylint-plugin-utils==0.6
pyparsing==2.4.7
pyrsistent==0.17.3
python-constraint==1.4.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytz==2020.4
pyzmq==20.0.0
qiskit==0.23.2
qiskit-aer==0.7.2
qiskit-aqua==0.8.1
qiskit-ibmq-provider==0.11.1
qiskit-ignis==0.5.1
qiskit-terra==0.16.1
Quandl==3.5.3
requests==2.24.0
requests-ntlm==1.1.0
retrying==1.3.3
retworkx==0.7.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
SQLAlchemy==1.3.20
SQLAlchemy-Utils==0.36.8
stripe==2.55.0
svgpathtools==1.4.1
svgwrite==1.4
sympy==1.7.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.1
urllib3==1.25.11
utils==1.0.1
virtualenv==20.1.0
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
yfinance==0.1.55
