{% extends  'base.html' %}

{%  block content   %}

<h1>The Black-Scholes Model: An Introduction</h1>
<b><p>It is a financial model for pricing option contracts.</p></b>
    <p><b>The "Greeks"</p></b>
    <p><b>Relate to heat Equation 1D (diffusion)</b></p>
    <p><b>"Points on the curve tend towards the average of their neighbours"</p></b>
    <p><b>The quantum algorithms and circuits used to model the financial part of the project
        are largely based on the following paper. Please click the link below to find out more:
    </b></p>
        <a href="https://arxiv.org/abs/1912.02753">A Quantum Algorithm for Linear PDEs arising in Finance</a>



{%  endblock content   %}

