{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="main.css">
{% endblock css %}
    {% block content %}

<div class="container">
  <div class="row">
    <div class="col-8 bg-white"></div>
    <h1>Welcome to my Project Website!</h1>
        
          <img src="../static/images/file-20201014-17-m7ixup.jpg" alt="Schroedinger's Cat" width="1000" height="1000">
          
      <p>
        <h2>Schrödinger's Cat :</h2>
        In 1935, the Austrian-Irish physicist Erwin Schrödinger wrote:
        
        "One can even set up quite ridiculous cases. A cat is penned up in a steel chamber, 
        along with the following device (which must be secured against direct interference 
        by the cat): in a Geiger counter, there is a tiny bit of radioactive substance, so 
        small, that perhaps in the course of the hour one of the atoms decays, but also, 
        with equal probability, perhaps none; if it happens, the counter tube discharges 
        and through a relay releases a hammer that shatters a small flask of hydrocyanic acid. 
        If one has left this entire system to itself for an hour, one would say that the cat still 
        lives if meanwhile no atom has decayed. The first atomic decay would have poisoned it. The 
        psi-function of the entire system would express this by having in it the living and dead cat 
        (pardon the expression) mixed or smeared out in equal parts."

        <a href="https://en.wikipedia.org/wiki/Schr%C3%B6dinger%27s_cat#Thought_experiment">Source: Wikipedia</a>
       <span></span>
        
        <p>
        </p>
      </div>
      </div>  
     
      <p>
        <span><b>Contact Info:</b></span>
          
        <b>George Reynolds</b>
        <br>17 Milton St. Apt. 2
        <br>Cambridge, MA 02140
        <br>917-855-1048
        <br>reynolds1021@gmail.com
       
      </p>
  
  
                
            </div>
          </div>
        
                
        </div>
      </div>
    </div>
          
    
    </div>
   
    
  </div>  
      {% endblock content %}     