<div class="container">
    <div class="row">
        <div class="col">
          <h1><span>A QUANTUM APPROACH</span></h1>
            <hr style="border:1.5px solid black">
                <ul>
                       

                    <li><a class="one" href="/">HOME</a><span class="divider">|</span></li>
                    <li><a class="one" href="/quantum">QUANTUM</a><span class="divider">|</span></li>
                    <li><a class="one" href="/quantumfinance">QUANTUM FINANCE</a><span class="divider">|</span></li>
                    <li><a class="one" href="/quantumdb">QUANTUM DATABASES</a></li>
                </ul>
            <hr style="border:1.5px solid black">
          
        </div>
    </div>
</div> 