{% extends  'base.html' %}

{%  block content   %}

<h1>Algorithms/Techniques used:</h1>
   
<b><p>1. Black-Scholes Model</p></b>
<b><p> A. Physics/Mathematical:</p></b>
<b><p>i.Reduction of the BS Equation to the heat equation for two common derivatives 
    (Asian and European Calls)</p><b>
<b><p>ii. Convert said derivatives into the linear Schroedinger Equation (quantum mechanical
    representation)</p></b>
   <b><p>iii. Finite element method and Runge-Kutta (RK) numerical methods (to solve relevant equations)</p></b>
    <b><p>B. Data Science/Analyis</p></b>
   <b><p>i. Object oriented Python programming</p><b>
   <b><p>ii. Quantum programming (Qiskit and QASM)</p></b>

    <b><p>2. Quantum Database Model</p></b>
<b><p> A. Physics/Mathematical:</p></b>
<b><p>i.Conversion of DB structures and queries into quantum circuits</p></b>
<b><p>ii. Apply Grover's Algorithm to optimize quantum DB query results</p></b>
    
    <b><p>B. Data Science/Analyis</p></b>
   <b><p>i. Quantum programming (Qiskit and QASM simulator)</p></b>
    <b><p>ii. Other data analysis (not done here)</p></b>
    
    <b><p>3. Other Methods:</p></b>
    <b><p>A. Shor's Algorithm (to show computational 
        power of quantum computing).
    </p></b>
    


{%  endblock content   %}