{% extends  'base.html' %}

{%  block content   %}

<h1>A. Conclusions:</h1>
<b><p>1. Quantum DBs don't yet exist</p></b>
<b><p>2. Still rely on classical systems</p></b>

   <h1>B. Future project ideas/expansion:</h1>
  <p><b>1. Use numerical methods in Python</p></b>
   <p><b>2. Show time complexity of algorithms</p></b>
   <p><b>3. Create a Quantum DB--Amazon, Google and other tech giants are pushing for it.
       Amazon is already developing QLDB (Ledger DB)</p></b>


{%  endblock content   %}