{% extends  'base.html' %}

{% block content %}

<h1>Project Challenges:</h1>

<b><p>i.Quantum computing is still in its infancy</p></b>
<b><p>ii. Lack of access to quantum computers (currently only through the cloud)</p></b>
<b><p>iii. Still largely theoretical</p></b>
<b><p>iv. Noise on quantum machines (necessary to run hundreds/thousands of simulations
    for accurate measurements)</p></b>
    <b><p>v. Current algorithms require large numbers of qubits</p></b>
    <b><p>vi. Dependence on classical computing for results </p></b>

    <b><p>vii. Quantum mechanics is hard! The subatomic world is very different than the
        macroscopic world in which we live!</p></b>


{%  endblock content   %}