{% extends  'base.html' %}

{%  block content   %}

<h1>Key Takeaways/Future Expansion:</h1>
<b><p>1. Finance</p></b>
<b><p>i. Quantum BS model (and circuit) can accurately represent 
    European and Asian option prices: promising for future of QC</p></b>
<b><p>ii.Possibility to represent other derivatives based on multiple stocks
     (i.e., Basket Options)</p></b>
     <b><p>iii. Compute differences in time complexity between classical vs. quantum methods
          </p></b>
<b><p>2. Databases</p></b>
<b><p>i. Quantum implementation of DB is promising but still largely theoretical</p></b>
<b><p>ii. Perform more data analysis on the quantum models</p></b>

<b><p>3. Future Projects:</p></b>
    <b><p>i. An quantum API/calculator that predicts option pricing.</p></b>
    <b><p>ii. Quantum database (AWS is currently developing QLDB)</p></b>


{%  endblock content   %}