{% extends  'base.html' %}

{%  block content   %}

<h1>Project Background:</h1>
  <b><p>Core Objectives:</p></b>
        <p><b>1. Introduce the emerging and challenging field of quantum computing.</b></p>
      <p><b> 2. Utilize two, relevant realworld applications of quantum computing (finance and
        database) to demonstrate its computational power.</b></p>
        <p><b>3.Implement said financial and database models using quantum circuits, and use
        numerical methods and algorithms in Python to produce data.</b></p>
       <p><b>4.Touch on the project's challenges and limitations.</b></p>
        <p><b>5. Mention the key takeaways and ideas for future expansion.</b></p>


{%  endblock content   %}